<h1>Fix up a Taco Spot</h1>

<%= form_for @tacospot do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %><br>

  <%= f.label :city %>
  <%= f.text_field :city %><br>

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :zip %>
  <%= f.number_field :zip %><br>

  <%= f.label :hours %>
  <%= f.text_field :hours %><br>

  <%= f.label :cash_only %>
  <%= f.text_field :cash_only %><br>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %><br>

  <%= f.submit "Fix this Taco Spot!" %>

<% end %>

<%= link_to "Just kidding, Taco Spot is all good.", root_path %>
<br>
<br>
<br>
<br>

