<h2>Fix up a taco spot</h2>

<%= form_for @tacospot do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %><br>

  <%= f.label :city %>
  <%= f.text_field :city %><br>

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :zip %>
  <%= f.number_field :zip %><br>

  <%= f.label :hours %>
  <%= f.text_field :hours %><br>

  <%= f.label :cash_only %>
  <%= f.text_field :cash_only %><br>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %><br>

  <%= f.submit "Fix this taco spot!" %>

<% end %>
<br>
<%= link_to "Just kidding, this taco spot is all good.", tacospots_path %>
<br>
<br>
<br>
<br>

