<h2>Look at all these tacos!</h2>

<% @tacospots.each do |tacospot| %>

<h3><%= link_to tacospot.name, tacospot_path(tacospot) %></h3>
  <div class="row">
    <div class="col s9 m5">
      <div class="card">
        <div class="card-image">
          <%= image_tag tacospot.image_url %>
        </div>
        <div class="card-content">
          <p><%= tacospot.street_address %></p>
          <p><%= tacospot.city %>, <%= tacospot.state %>&nbsp;<%= tacospot.zip %></p>
          <p>Hours: <%= tacospot.hours %></p>
          <p>Cash only: <%= tacospot.cash_only %></p>
        </div>
      </div>
    </div>
  </div>
<br>
<% end %>
<br>
<br>
<br>
<br>
