<h1>Tacos Found:</h1>

<% @tacospots.each do |tacospot| %>
<tr>
  <td><%= link_to tacospot.name, tacospot_path(tacospot) %></td><br>
  <td><%= tacospot.street_address %>, </td><br>
  <td><%= tacospot.city %>, </td>
  <td><%= tacospot.state %>, </td>
  <td><%= tacospot.zip %></td><br>
  <td>Hours: <%= tacospot.hours %></td>&nbsp;|&nbsp;
  <td>Cash only: <%= tacospot.cash_only %></td><br>
  <div class="row">
    <div class="col s6 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag tacospot.image_url %>
        <span class="card-title"><%= tacospot.name %></span>
        </div>
      </div>
    </div>
  </div>
  </tr>
<br>
<hr>
<br>

<% end %>
<br>
<br>
<br>
<br>
