<h1>Tacos Found:</h1>

<% @tacospots.each do |tacospot| %>
<tr>
  <td><%= link_to tacospot.name, tacospot_path(tacospot) %></td><br>
  <td><%= tacospot.street_address %>, </td><br>
  <td><%= tacospot.city %>, </td>
  <td><%= tacospot.state %>, </td>
  <td><%= tacospot.zip %></td><br>
  <td>Hours: <%= tacospot.hours %></td>&nbsp;|&nbsp;
  <td>Cash only: <%= tacospot.cash_only %></td><br>
  <td><%= tacospot.image_url %></td><br>
  <td><%= link_to 'Something wrong? Fix it up here.', edit_tacospot_path(tacospot), method: :get if current_user %></td><br>
  <td><%= link_to 'Taco spot gone? Get rid of it here.', tacospot_path(tacospot), method: :delete, data: { confirm: 'Are you sure?' } if current_user %></td>
</tr>
<br>
<hr>
<br>

<% end %>
