<h2>Add a new taco spot!</h2>

<%= form_for @tacospot do |f| %>

   <%= f.label :name %>
   <%= f.text_field :name %><br>

   <%= f.label :street_address %>
   <%= f.text_field :street_address %><br>

   <%= f.label :city %>
   <%= f.text_field :city %><br>

   <%= f.label :state %>
   <%= f.text_field :state %><br>

   <%= f.label :zip %>
   <%= f.number_field :zip %><br>

   <%= f.label :hours %>
   <%= f.text_field :hours %><br>

   <%= f.label :cash_only %>
   <%= f.text_field :cash_only %><br>

   <%= f.label :image_url %>
   <%= f.text_field :image_url %><br>

   <%= f.submit "Add taco spot!" %>

<% end %>
<br>
<p><%= link_to "Nah, changed my mind, take me back.", tacospots_path %></p>
<br>
<br>
<br>
<br>

