<!DOCTYPE html>
<html>
  <head>
    <title>Taco Finder LA</title>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fresca" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/taco-icon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul class="left hide-on-small-and-down">
              <li><%= link_to tacospots_path do %>
                 <%= image_tag "/taco-nav.png" %>
              <% end %></li>
            </ul>
            <a href="/" class="brand-logo center">Taco Finder LA</a>
            <ul class="right hide-on-small-and-down">
              <li><% if current_user %>
                    Welcome, <%= current_user.name %>
                  <% end %></li>
              <li><% if current_user %>
                    <%= link_to 'Log out', session_path('dummy'), method: :delete %>
                  <% end %></li>
              <li><% if current_user == nil %>
                    <%= link_to 'Enter Taco Finder', login_path %>
                  <% end %></li>
              <li><% if current_user == nil %>
                    <%= link_to 'Join Taco Finder', new_user_path %>
                  <% end %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="app/assets/javascripts/materialize.min.js"></script>
  </body>
</html>
