<!DOCTYPE html>
<html>
  <head>
    <title>Taco Finder</title>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag '/taco-icon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"><i class="material-icons">sentiment_very_satisfied</i>Taco Finder</a>
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i>
              </label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="container">
      <p>
        <% if current_user %>
          Welcome, <%= current_user.name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'I no longer want you to know who I am', session_path('dummy'), method: :delete %><br>
          <p><%= link_to 'Tell us about a new taco spot.', new_tacospot_path %></p>
        <% else %>
          <%= link_to 'Enter Taco Finder', login_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Join Taco Finder', new_user_path %>
        <% end %>
      </p>
      <p><%= link_to 'Show me all the Tacos', tacospots_path %></p>
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="app/assets/javascripts/materialize.min.js"></script>
  </body>
</html>
